[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb
[submodule "vphysics_jolt/joltphysics/src"]
	path = vphysics_jolt/joltphysics/src
	url = https://github.com/jrouwe/JoltPhysics
