.cache
/build*
/out
# ignore some unnecessary source engine files
/app
/common/curl
/common/freetype
/common/openal
/common/opengl
/common/protobuf-*
/common/python
/devtools
/external/crypto++-*
/external/v8
/external/vpc/devtools/bin/vpc
/external/vpc/lib
/gcsdk
/lib
/linux/lib
/linux/make_check/cache
/public/avi
/public/Friends
/public/g15
/public/gcsdk
/public/jpeglib
/public/libpng
/public/openvr
/public/panorama
/public/python
/public/sourcevr
/public/steam
/public/steamnetworkingsockets
/public/windowssdk
/public/zlib
/sourcevr
/thirdparty/JSON_parser
/thirdparty/telemetry
/tools/runtime
/utils/bzip2
/utils/jpeglib
/utils/lzma
/utils/xbox
/createallprojects.bat
/filelist2013.txt
*.a
*.lib
*.so
*.dll
*.exe
*.pdb